<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </head>
    <body >

        <div class="overlay" *ngIf="process">
            <div class="notification">
              <span class="close">&times;</span>
              <h2 style="font-size: 25px;">Please wait, your order is in processing.</h2>
              <!-- <p style="font-size: 20px;">{{message}}</p> -->
            </div>
        </div>

        <div class="cart_section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="cart_container">
                            <div class="cart_title">Shopping Cart<small> ({{count}} item in your cart) </small></div>
                            <div class="cart_items">
                                <ul class="cart_list" *ngFor="let o of orders">
                                    <li class="cart_item clearfix">
                                        <div class="cart_item_image"><img src="{{o.brandy.url}}" alt=""></div>
                                        <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                            <div class="cart_item_name cart_info_col">
                                                <div class="cart_item_title">Name</div>
                                                <div class="cart_item_text" style="cursor: pointer;" (click)="about(o.brandy.name)" title="Show details">{{o.brandy.name}}</div>
                                            </div>
                                            <div class="cart_item_quantity cart_info_col">
                                                <div class="cart_item_title">Date of purchase</div>
                                                <div class="cart_item_text">{{o.dateOfPurchase}}</div>
                                            </div>
                                            <div class="cart_item_quantity cart_info_col">
                                                <div class="cart_item_title">Quantity</div>
                                                <div class="cart_item_text">{{o.quantity}}</div>
                                            </div>
                                            <div class="cart_item_price cart_info_col">
                                                <div class="cart_item_title">Price</div>
                                                <div class="cart_item_text">{{o.brandy.price}}</div>
                                            </div>
                                            <div class="cart_item_price cart_info_col">
                                                <div class="cart_item_title">Available</div>
                                                <div class="cart_item_text">{{o.confirm ? 'Yes' : 'No' }}</div>
                                            </div>
                                            <div class="cart_item_total cart_info_col">
                                                <div class="cart_item_title">Total</div>
                                                <div class="cart_item_text">{{o.total}}</div>
                                            </div>
                                            <div>
                                                <button class="cancel_order_button" *ngIf="o.confirm" (click)="cancelOrder(o)">Cancel order</button>
                                            </div>
                                        </div>
                                        
                                    </li>
                                    
                                </ul>
                                
                            </div>
                            <div class="order_total">
                                <div class="order_total_content text-md-right">
                                    <div class="order_total_title">Order Total:</div>
                                    <div class="order_total_amount">{{totalPriceAll}}</div>
                                </div>
                            </div>
                            <div class="cart_buttons"> <button type="button" [routerLink]="['/home']" class="button cart_button_clear">Continue Shopping</button> <button type="button" class="button cart_button_checkout" *ngIf="showProceed">Proceed</button> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>            
    </body>
</html>
