<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <style media="screen">
    </style>
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form (submit)="login()" [formGroup]="formLogin" novalidate>
        <h3>Login</h3>

        <label for="username">Username</label>
        <input formControlName="username" type="text" placeholder="Username" id="username" required>

        <label for="password">Password</label>
        <input formControlName="password" type="password" placeholder="Password" id="password" required>
        
        <h2 *ngIf="isLoginFailed" class="blink_me"><p style=" padding-top: 20px; text-align: center;">Wrong username or password!</p></h2>
        
        <button type="submit" style="color: black;">Log In</button>
    </form>
</body>
</html>
