<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <style media="screen">
    </style>
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <div class="overlay" *ngIf="note">
        <div class="notification">
          <!-- <span class="close" (click)="confirmNote()">&#10006;</span> -->
          <p style="font-size: 35px;">{{errorMessage}}</p>
          <div *ngIf="adminKontact">
            <div *ngFor="let a of admins">
                <p style="font-size: 25px;">Name: {{a.firstName}}</p>
                <p style="font-size: 25px;">Email: {{a.email}}</p>
            </div>
            </div>
          <button (click)="confirmNote()" style="border-radius: 25px; background-color:rgb(156, 204, 249);">Confirm</button>
        </div>
    </div>

    <form (submit)="login()" [formGroup]="formLogin" novalidate>
        <h3>Login form</h3>

        <label for="username">Username</label>
        <input formControlName="username" type="text" placeholder="Username" id="username" required>

        <label for="password">Password</label>
        <input formControlName="password" type="password" placeholder="Password" id="password" required>
        
        <!-- <h2 *ngIf="isLoginFailed" ><p style=" padding-top: 20px; text-align: center;">{{errorMessage}}</p></h2> -->
        
        <button type="submit" style="color: black;">Log In</button>
    </form>
</body>
</html>
