<html>
    <head>
        </head>
        <body>
          <div class="search-container">
            <input class="search-input" [(ngModel)]="name" type="text" (input)="search(name)" placeholder="Search...">
            <button (click)="search(name)" class="search-button">Search</button>
          </div>
<br>
<div class="container">
  <div class="card" *ngFor="let f of filtered" (click)="about(f)">
    <img src="{{f.url}}" style="width:100%">
    <h1 *ngIf="f.quantity" style="color: white;">{{f.name}} <span class="green-circle"></span></h1>
    <h1 *ngIf="!f.quantity" style="color: white;">{{f.name}} <span class="red-circle"></span></h1>
    <p style="font-size: 22px; color: white;">Price: {{f.price}}</p>
  </div>
</div>
        </body>
</html>