.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 10px;
  text-align: center;
  font-family: arial;
  cursor: pointer;
  transition: transform 0.3s;
  border-radius: 40px;
  background-color: #373636;
  opacity: 1.0;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  opacity: 1.1;
  background-color: #181818;
}

.card.special {
  background-color: #f7c367;
}

.card-title, .card-price {
  background-color: #333333;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.price {
  color: black;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.green-circle {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: green;
  border-radius: 50%;
  margin-left: 10px;
}

.red-circle {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: rgb(218, 0, 0);
  border-radius: 50%;
  margin-left: 10px;
}


.notification {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.notification h2 {
  margin-top: 0;
}

.notification p {
  margin-bottom: 0;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
}

.roundBottles {
  background-image: url('https://drive.google.com/uc?export=download&id=1GxyIrIWymaiNjyLTndB5K8Cj_OfPN_oM');
}



.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.search-input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 30px;
  font-size: 16px;
  outline: none;
  width: 300px;
}

.search-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.search-button:hover {
  background-color: #45a049;
}