<html>
    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

        </head>
        <body>
          <div class="search-container">
            <button *ngIf="previous" (click)="previousPage(name)" style="margin-right: 200px; font-size: 20px;" class="search-button">Previous</button>
            <input class="search-input" style="font-size: 20px;" [(ngModel)]="name" type="text" (input)="search(name, page)" placeholder="Search...">
            <button *ngIf="name.length > 0 readonly" (click)="clearInput()" class="search-button">Clear</button>
            <button *ngIf="next" (click)="nextPage(name)" style="margin-left: 200px; font-size: 20px;" class="search-button">Next</button>
          </div>
          <!-- <div style="margin-left: 20px;">
            <p style="color: white; margin-left: 30px; font-size: 25px; font-weight: 500;">Filter by price</p>
             <p style="color: white;">{{minPrice}}</p><p style="color: white;">{{maxPrice}}</p> 
            <input type="number" style="margin-right: 10px; border-radius: 15px; width: 85px; font-size: 20px;" (input)="loadBrandyList(page)" [(ngModel)]="minPrice">
            <input type="number" style="margin-left: 10px; border-radius: 15px; width: 85px; font-size: 20px;" (input)="loadBrandyList(page)"  [(ngModel)]="maxPrice">
          </div> -->

          <div class="price-filter">
            <label for="price-range" style="font-size: 25px; border: 1px solid black; border-radius: 25px; background-color: #45a049; padding: 5px 15px;">Price Range:</label>
            <input style="color: white;" type="range" id="price-range" name="price" min="{{minPrice}}" max="{{maxPrice}}" (input)="loadBrandyList(page)" [(ngModel)]="passedPricesMin">
            <input style="color: white;" type="range" id="price-range" name="price" min="{{minPrice}}" max="{{maxPrice}}" (input)="loadBrandyList(page)" [(ngModel)]="passedPricesMax">

            <span class="min-price" style="color: white; font-size: 25px; border-radius: 25px; border: 1px solid black; background-color: black;">${{passedPricesMin}}</span>
            <span class="max-price" style="color: white; font-size: 25px; border-radius: 25px; border: 1px solid black; background-color: black;">${{passedPricesMax}}</span>
            <button style="margin-left: 25px; border-radius: 25px; font-size: 25px; background-color: #45a049; color: white; cursor: pointer; padding: 5px 5px;" (click)="resetPriceFilter()">Reset filter</button>
          </div>   
          
<br>
<div class="container">
  <div class="card" *ngFor="let f of brandyPage?.content" (click)="about(f)">
    <img src="{{f.url}}" style="width:100%">
    <h1 *ngIf="f.quantity" style="color: white;">{{f.name}} <span class="green-circle"></span></h1>
    <h1 *ngIf="!f.quantity" style="color: white;">{{f.name}} <span class="red-circle"></span></h1>
    <p style="font-size: 22px; color: white;">Price: {{f.price}}</p>
  </div>
</div>
        </body>
</html>