<div>
    <h2>{{title}}</h2>

    <mat-tab-group>
        <mat-tab label="Table Brandy">
            <button mat-mini-fab color="link"    (click)="open()"> <mat-icon>search</mat-icon> Search  Brandy </button>
            <app-search-rakije *ngIf="prikazPretrage" (searched)="search($event)"></app-search-rakije>

            <app-table-rakije [elements]="brandies" (deleted)="delete($event)" (updated)="setUpdate($event)">
            </app-table-rakije>

            <app-form-rakije *ngIf="prikaz" [brandy]="brandyUpdate" (createEvent)="update($event)">
            </app-form-rakije>
        </mat-tab>
        <mat-tab label="Add Brandy" *ngIf="loginService.isLoggedIn()">
            <app-form-rakije (createEvent)="create($event)"></app-form-rakije>
        </mat-tab>
    </mat-tab-group>
</div>
