
form,p{
    margin-left: 30%;
    padding: 4%;
}
input, button{
    margin: 10px;
}
h2{
    margin-left: 10%;
    margin-bottom: 10%;
    color: rgb(250, 251, 254);
    font-style: italic;
    font-weight: bold;
    font-family:  Georgia, 'Times New Roman', Times, serif;
}
.login{
    background-color: green;
    color: white;
}
.container{
    margin-right: 45%;
    border-radius: 10%;
    background-color: rgb(122, 147, 94);
}  
mat-label{
    color: rgba(255, 255, 255, 0.889);
} 
.slika{
    background-image:url(./../../../assets/img/wallpaper.jpg);
     /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
    

  

