<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
    <button  [routerLink]="['/']" aria-label="Example icon button with a home icon">
      <mat-icon>home</mat-icon>
    </button>
  
    <button mat-button *ngIf="loginService.validateRoles(['ROLE_ADMIN'])"   [routerLink]="['/kupci']"><mat-icon>perm_contact_calendar</mat-icon>Podaci o Kupcima</button>
    <button mat-button  [routerLink]="['/rakije']">		<mat-icon>filter_list</mat-icon> Rakija u ponudi</button>
    <button mat-button *ngIf="loginService.validateRoles(['ROLE_ADMIN', 'ROLE_KUPAC'])"  [routerLink]="['/porudzbine']">		<mat-icon>add_shopping_cart</mat-icon> Porudžbina</button>

    <span class="example-spacer"></span>
    <button mat-button  [matMenuTriggerFor]="menuPrijava"  class="user mt-2 d-flex align-items-right">
      <img src="./assets/img/user.jpg" alt="user" class="user-image mr-1 p-2" /> User Name  <mat-icon>power_settings_new</mat-icon></button>	
    <mat-menu #menuPrijava="matMenu">
      <button mat-menu-item  [routerLink]="['/login']"><mat-icon>add_circle</mat-icon>Login</button>
      <button mat-menu-item *ngIf="loginService.validateRoles(['ROLE_ADMIN', 'ROLE_KUPAC'])" [routerLink]="['/register']"><mat-icon>create</mat-icon>Sign in</button>
      <button mat-menu-item style="color: red;" *ngIf="loginService.user" (click)="loginService.logout()" [routerLink]="['/login']"><mat-icon>exit_to_app</mat-icon>Logout</button>
    </mat-menu>
  </mat-toolbar>
  
  