<h2><i>{{title}}</i></h2>
<mat-stepper [linear]="isLinear" #stepper>
  <form [formGroup]="forma" ngNativeValidate>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Primery data</ng-template>
      <mat-form-field appearance="standard">
        <mat-label>Date Of Purchase:</mat-label>
        <input matInput formControlName="dateOfPurchase" name="dateOfPurchase" [matDatepicker]="picker" required>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Quantity:</mat-label>
        <input matInput formControlName="quantity" name="quantity" type="text"  required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Secondary data">
      <mat-form-field appearance="standard">
        <mat-label>Brandy:</mat-label>
        <mat-select name="brandy" formControlName="brandy" [compareWith]="comparator1" required>
          <mat-option *ngFor="let brandy of brandies" [value]="brandy">
            {{brandy.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Customer:</mat-label>
        <mat-select name="customer" formControlName="customer" [compareWith]="comparator2" required>
          <mat-option *ngFor="let customer of customers" [value]="customer">
            {{customer.email}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-raised-button color="primary" (click)="create()">Submit</button>
      </div>
    </mat-step>
  </form>
</mat-stepper>
