<h2>{{title}}</h2>
<form (submit)="pretrazi()" [formGroup]="parametri" ngNativeValidate>

    <div>
        <mat-form-field appearance="standard">
            <mat-label>Naziv: </mat-label>
            <input matInput name="naziv" formControlName="naziv" type="text">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="standard">
            <mat-label>Cena od: </mat-label>
            <input matInput name="cena" formControlName="cenaOd" type="number" step="0,1">
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Cena do: </mat-label>
            <input matInput name="cena" formControlName="cenaDo" type="number" step="0,1">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="standard">
            <mat-label>Godina od: </mat-label>
            <input matInput name="godina" formControlName="godinaOd" type="number" step="0,1">
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Godina do: </mat-label>
            <input matInput name="godina" formControlName="godinaDo" type="number" step="0,1">
        </mat-form-field>
    </div>

    <div>
        <button mat-raised-button type="submit">Pretrazi </button>
    </div>
</form>