<div>
    <h2>{{title}}</h2>

    <mat-tab-group>
        <mat-tab label="Table Orders" *ngIf="loginService.isLoggedIn()">
            <app-table-porudzbine [elements]="orders" (deleted)="delete($event)" (updated)="setUpdate($event)">
            </app-table-porudzbine>

            <app-form-porudzbine *ngIf="prikaz" [order]="orderUpdate" (createEvent)="update($event)">
            </app-form-porudzbine>
        </mat-tab>
        <mat-tab label="Add Order" *ngIf="loginService.isLoggedIn()">
            <app-form-porudzbine (createEvent)="create($event)"></app-form-porudzbine>
        </mat-tab>
    </mat-tab-group>
</div>