<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
</style>
</head>
<body class="black">
  <ul class="topnav">
    <li><a class="active" href="/home" [routerLink]="['/home']">Brandy shop</a></li>
    <li *ngIf="admin">
      <a class="fa fa-bars" [routerLink]="['/editUsersOrdersAdmin']" style="font-size: 20px; cursor: pointer;"></a>
      <ul class="submenu">
        <li><a href="#" [routerLink]="['/editUsersOrdersAdmin']">Orders</a></li>
        <li><a href="#" [routerLink]="['/usersAdmin']">Users</a></li>
      </ul>
    </li>
    <li class="right"><a *ngIf="isLoggedIn" [routerLink]="['/home']" (click)="logout()">Log out</a></li>
    <li class="right"><a *ngIf="isLoggedIn" style="cursor: pointer;" [routerLink]="['/profile']">{{ username }}</a></li>
    <li class="right"><a [routerLink]="['/login']" *ngIf="!isLoggedIn">Log in</a></li>
    <li class="right"><a [routerLink]="['/register']" *ngIf="!isLoggedIn">Register</a></li>
    <li class="right">
      <a href="#" [routerLink]="['/order']">
        <i class="fas fa-shopping-cart cart-icon" *ngIf="cart"></i>
      </a>
    </li>
  </ul>
  

<div >
  <router-outlet></router-outlet>
</div>

</body>
</html>
