<section id="about" class="mat-typography" ngStyle.lt-md="{'margin-top': '50px', 'margin-bottom': '50px'}">
    <div class="container">

        <div class="about-section about-heading" fxLayout="column" fxLayoutAlign="center center">
          <div>
          <h2 ngStyle.lt-md="{'margin-bottom': '15px'}">Aplikacija Prodaja Rakije</h2>
          </div>
          <div>
          <h3 ngStyle.xs="{'font-size': '18px'}" ngStyle.sm="{'font-size': '22px'}">U ovoj brošuri opisna su lična iskustva i iskustva drugih do kojih smo mogli doći prateći rad proizvođača rakije na selu. U koncipiranju brošure nismo bili suviše ambiciozni, zbog vremena. Hteli smo što pre saopštiti ta iskustva, ne velika, kako drugi ne bi učili zanat ispočetka.

            Ova brošura nije udžbenik. To je praktično uputstvo za svakoga, pisano je na zahtev čitalaca.</h3>
          </div>
      </div>

      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
          <div fxFlex="25">
                <div fxLayout="column" fxLayoutAlign="center center" ngStyle.xs="{'padding': '0 60px'}">
                  <div>
                    <i angStyle.lt-md="{'font-size': '48px'}" class="material-icons">build</i>
                  </div>
                  <span fxFlex="30px"></span>
                  <h2 class="about-text">Proces pečenja rakije</h2>
                  <span fxFlex="10px"></span>
                  <p class="about-text">Proces pečenja rakije odnsonso destilacije je sigurno najosteljivija faza proizvodnje rakije, i ujedno faza koja traži najviše iskustva i znanja. Vođeni time, mi vam razrešavamo najčešće dileme vezane za destilaciju. 
                    U  tekstu možete saznati: kako da prepoznate kvalitetan aparat za destilaciju, štaje to destilacija i kako je voditi, kako dobiti ljutu a kako meku rakiju? Pored toga pripremili smo vam i mnoge druge pojedinosti ali i zanimljive podatke vezane za rakiju.</p>
                </div>
            </div>


            <div fxFlex="25">
                <div fxLayout="column" fxLayoutAlign="center center" ngStyle.xs="{'padding': '0 60px'}">
                  <div>
                    <i ngStyle.lt-md="{'font-size': '48px'}" class="material-icons">stars</i>
                  </div>
                  <span fxFlex="30px"></span>
                  <h2 class="about-text">Kazan za rakiju - aparat za destilaciju</h2>
                  <span fxFlex="10px"></span>

                  <p class="about-text">Prvi i osnovni preduslov za dobru destilaciju jeste posedovanje kvalitetnog aparata za destilaciju odnosno kazana za pečenje rakije. Na ovom mestu moramo da skrenemo pažnju na to da se na tržištu često pojavljuju aparati za destilaciju koji ne ispunjavaju tehničke uslove za kvalitetnu destilaciju. Mi ćemo se zato u ovom delu osvrnuti prvo na vrste kazana za pečenje rakije, a zatim na tehničke krakteristike aparata za destilaciju, koje mora da ispunjava.</p>
                </div>
            </div>

            <div fxFlex="25">
                <div fxLayout="column" fxLayoutAlign="center center" ngStyle.xs="{'padding': '0 60px'}">
                  <div>
                    <i ngStyle.lt-md="{'font-size': '48px'}" class="material-icons">settings</i>
                  </div>
                  <span fxFlex="30px"></span>
                  <h2 class="about-text">Filtriranje rakije</h2>
                  <span fxFlex="10px"></span>

                  <p class="about-text">
                    Pored organoleptičkih svojstava rakije, i bistrina rakije je nešto što se ceni i doprinosi njenom kvalitetu. Dešava se ponekad da i pored kvalitetne destilacije i svih prethdono ispoštovanih koraka, rakije ne dobije bistrinu koju može da ima. Tada je zgodno probeći jednom rešenju – filterima za rakiju.</p>
                </div>     
            </div>
      </div>
    </div>
</section>
