<h2>{{title}}</h2>
<form (submit)="pretrazi()" [formGroup]="parameters" ngNativeValidate>

    <div>
        <mat-form-field appearance="standard">
            <mat-label>Name: </mat-label>
            <input matInput name="name" formControlName="name" type="text">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="standard">
            <mat-label>Price for: </mat-label>
            <input matInput name="price" formControlName="priceFor" type="number" step="0,1">
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Price to: </mat-label>
            <input matInput name="price" formControlName="priceTo" type="number" step="0,1">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="standard">
            <mat-label>Year for: </mat-label>
            <input matInput name="year" formControlName="yearFor" type="number" step="0,1">
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Year to: </mat-label>
            <input matInput name="year" formControlName="yearTo" type="number" step="0,1">
        </mat-form-field>
    </div>

    <div>
        <button mat-raised-button type="submit">Search </button>
    </div>
</form>